@CHARSET "UTF-8";

body {
	font-size: 12px;
	width: 1400px;
	cursor: default;
}

a {
	font-size: 13px;
	text-decoration: none;
	color: #075587;
}

a:hover {
	cursor: pointer;
	color: #075587;
	text-decoration: underline;
}

.center {
	background: #198bc9;
	margin: 0 auto;
	overflow: hidden;
	width: 1300px;
}

.add {
	margin-top: 30px;
	margin-bottom: 20px;
	height: 50px;
	background:url("../page-pageTitle-bg.gif") repeat-x;
}

.trLight {
	background: #f9fcfd
}

.table {
	margin: auto;
	width:100%;
	border-collapse: collapse;
	table-layout: fixed;
	
	text-align: center;
	float: left;
}

.table tr td,.table th {
	border: solid #ccc 1px;
	height: 25px;
}

.table1{
	margin: auto;
	width: 85%;
	border-collapse: collapse;
	table-layout: fixed;
	cursor: default;
	text-align: center;
}

.table1 th,.table1 tr td{
	border: solid #ccc 1px;
	height: 35px;
}

.table2 {
	margin: auto;
	width: 70%;
	border-collapse: collapse;
	table-layout: fixed;
	cursor: default;
	text-align: center;
}

.table2 tr td,.table2 th {
	border: solid #ccc 1px;
	height: 30px;
}

.tdLeft{
	font-weight: 600;
	font-size: 13px;
}

#askRemark{
	width: 350px;
}

.text{
	float: left;
	margin-left: 5px;
}
.text1{
	width: 180px;
}
.text2{
	width: 150px;
}

.main{
	float: left;
	margin-left:8px;
	width: 85%;
	height: 577px;
	background-color: #ffffff;
}

.pageColumn thead,.table1 thead {
	color: #075587;
	background: url(../images/page-thead-bg.gif);
}

.pageTitle {
	float: left;
	padding-left: 10px;
	height: 31px;
	width:95%;
	line-height: 31px;
	color: #075587;
	background: url(../images/page-pageTitle-bg.gif);
}

.pageColumn {
	background: url(../images/page-bg.gif) repeat-x;
	padding: 5px;
}

.pageButton {
	height: 50px;
}

.remark {
	width: 600px;
}

.pageControl {
	text-align: right;
}

.askKeySubmit {
	display: none;
}

#greybackground {
	background: #000;
	filter: Alpha(opacity = 30);
	-moz-opacity: .3;
	opacity: 0.5;
	display: block;
	z-index: 1;
	width: 100%;
	height: 0px;
	position: absolute;
	top: 0;
	left: 0;
}

#askKeySubmit {
	position: absolute;
	top: 150px;
	left: 400px;
	height: 280px;
	width: 600px;
	background-color: #ffffff;
	text-align: center;
	padding-top: 50px;
	z-index: 2;
	display: none;
}

.resultList1 {
	width: 100%;
	overflow: scroll;
	clear:left;
	height: 450px;
}